body {
  background-color: lightblue;
  color: red;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

#audio_samples {
  list-style-type: none;
}

#audio_samples li {
  border-bottom: 1px solid;
  padding: 0 0 10px;
}
.row {
  display: flex;
}
.col {
  flex: 50%;
  padding: 20px;
  vertical-align: middle;
  hight: 100%;
}

.loading {
  opacity: .4;
}

.button {
  width:100%;
}
.signal {
  height:200px;
  width:50%;
}
#upload-data {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

#wavform {
  display: block;
}
