@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

body {
  background-color: #fcfcf7; /* lightblue; */
  color: #446652;
  padding: 20px;
  max-width: 962px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("/assets/background-ll.png");
  background-position: bottom -350px left -450px;
  background-attachment: fixed;
  font-family: 'Chivo', sans-serif;
}

H1, H2, H3, H4, H5 {
  font-family: 'PT Serif', serif;
  color: #6c503e;
}

a {
  color: #6c503e;
}
#title {
  padding: 0;
  margin: 0;
}

#title h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #6c503e;
}

#title p {
  padding-top: 0;
  margin-top: 0
}

#audio_samples {
  list-style-type: none;
}

#audio_samples li {
  border-bottom: 1px solid;
  padding: 0 0 10px;
}
.row {
  display: flex;
}
.col {
  flex: 50%;
  padding: 20px;
  vertical-align: middle;
  hight: 100%;
}

body div .nopad {
  padding:0;
}

.loading {
  opacity: .6;
}

.try-again {
  width: 100%;
  text-align: center;
}

.pred-plots {
  height: 350px;
}

.images {
    background-color: rgba(44,66,52, 0.2);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px
}
.images H3 {
  padding: 10px;
  margin-bottom: 0px;
}
.image {
  display: inline-block;
  height: 160px;
  width: 240px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  // background-color: #446652;
}

.image a {

}

.image p.caption {
  padding-bottom: 5px;
  padding-right:10px;
  margin: 0;
  text-shadow: 1px 1px 2px gray;
  text-align: right;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.signal {
  height:500px;
  width:100%;
}

#upload-data {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

#wavform {
  display: block;
}

.tab--selected {
  border-top: 2px solid #EDCB96 !important;
  background-color: rgba(255,255,255,0.7) !important;
  color: #446652 !important;
}

.tab-content {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
}

.notice {
  background-color: rgba(237, 203, 150, 0.7);
  padding: 10px;
  border-radius: 7px;
}
